 .qualification_container {
  max-width: 768px;
}

.qualification_tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
  text-align: center;
  margin-right: -450px;
}


.qualification_button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}
.qualification_button:hover{
    color: var(--title-color-dark);
}
.qualification_icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}
.qualification_active{
    color: var(--title-color-dark);
}
.qualification_sections{
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
    align-items: center;
}

.qualification_content-active{
    display: block;
}
.qualification_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  text-align: center;
  align-items: center;
  margin-right: -450px;
}
.qualification_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.qualification_title1{
   font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-right: -170%;
    margin-top: -230px;
}
.qualification_title2{
   font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-right: -170%;
     margin-top: -180px; 
}
.qualification_title3{
   font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-right: -170%;
     margin-top: -160px; 
}


.qualification_subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}
.qualification_subtitle1{
   display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    margin-right: -170%;
    
}
.qualification_subtitle3{
   display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    margin-right: -170%;
    
}

.qualification_calender{
    font-size: var(--small-font-size);
}
.qualification_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}
.qualification_line {
  display: block;
  width: 1px;
  height: 100px; 
   background-color: var(--text-color); 
   transform: translate(6px, -7px); 
 }  
 .qualification_content {
  display: none;
}

.qualification_content-active {
  display: block;
}

@media screen and (max-width: 992px) {
    *{
        margin: 0;
        padding: 0;
    }
    .qualification_container{
        margin-left: auto;
        margin-right: 400px;        
    }

}
@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }
    .qualification_container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
        margin-right: 650px;        
    }
    .qualification_title3{
        margin-left: 100px;
    }
    .qualification_subtitle3{
        margin-left: 100px;
    }
    .qualification_title2{
        margin-left: 100px;
    }
    .qualification_title1{
        margin-left: 100px;
    }
    .qualification_subtitle1{
        margin-left: 100px;
    }

}




@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
    }
    .qualification_sections{
        grid-template-columns: initial;
    }
    .qualification_button{
        margin: 0 var(--mb-0-75);
    }
 
}
@media screen and (max-width: 350px) {
    .qualification_data{
        gap: 0.5rem;
    }
    
}





  