.testimonial-image{
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);

}
.testimonial-container{
    width: 750px;
}
.testimonial_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);

}
.testimonial-card{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
    
}
.testimonial_description{
    font-size: var(--small-font-size);
    
}
.swiper-pugination-bullet{
    background-color: var(--text-color);
}
.swiper-pugination-bullet-active{
    background-color: var(--title-color);
}
@media screen and (max-width: 992px) {
.testimonial-container{
    width: initial;
}
.testimonial-card{
    padding: 1.25rem 1.5rem;
}
}
